extends layout

block content
  div
    include ./partials/customer.jade
    include ./partials/subscriptions.jade
  //- script
  //-   var results = !{JSON.stringify(results)};
  //-   var customerId = results.id;
